<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header class="d-flex justify-content-between align-items-center">
        <strong>My Time Table</strong>
        <!-- Add some margin to the button -->
        <!-- <button class="btn btn-primary ml-auto" (click)="openModal()">Add</button> -->
      </c-card-header>
      <c-card-body>
        <input
          type="text"
          [(ngModel)]="searchText"
          placeholder="Search Timetable"
          class="form-control mb-3"
        />
        <table class="table table-striped" cTable>
          <thead>
            <tr>
              <th scope="col">SN</th>
              <th scope="col">ClassName</th>
              <th scope="col">Subject</th>
              <th scope="col">Monday</th>
              <th scope="col">Tuesday</th>
              <th scope="col">Wednessday</th>
              <th scope="col">Thursday</th>
              <th scope="col">Friday</th>
              <!-- <th scope="col">Actions</th> -->
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let con of conList
                  | search : searchText
                  | paginate : { itemsPerPage: 4, currentPage: p };
                let i = index
              ">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ con.className }}</td>
              <td>{{ con.subject }}</td>
              <td>{{ con.monday }}</td>
              <td>{{ con.tuesday }}</td>
              <td>{{ con.wednesday }}</td>
              <td>{{ con.thursday }}</td>
              <td>{{ con.friday }}</td>
              <!--  -->
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
